@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap&family=Source+Sans+Pro:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600&display=swap&family=Source+Sans+Pro:wght@300;500;700;900&display=swap');

html, *, body {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html, 
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

body {
  box-sizing: border-box; 
  position: relative; 
  min-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  font-weight: 30;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.125;
  font-family: 'Montserrat', sans-serif;
}

p, div, span, textarea, a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#__next {
  min-height: 100vh;
  height: 100%; 
  position: relative;
}